# Unset some default keybindings
'atom-text-editor':
  'ctrl-k': 'unset!'

# Surround
'atom-text-editor.vim-mode-plus.normal-mode':
  'y s': 'vim-mode-plus:surround'
  'y s w': 'vim-mode-plus:surround-word'
  'y m s':  'vim-mode-plus:map-surround'
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'c s': 'vim-mode-plus:change-surround-any-pair'

# Re-open last tab
'.platform-darwin atom-workspace':
  'shift-cmd-T': 'pane:reopen-closed-item'

# Pane Management
'body':
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'cmd-k l': 'pane:split-right-and-copy-active-item'
  'cmd-k h': 'pane:split-left-and-copy-active-item'
  'cmd-k j': 'pane:split-down-and-copy-active-item'
  'cmd-k k': 'pane:split-up-and-copy-active-item'
